<% include _nav.html %>
    <h1><%= __('Resultado búsqueda:') %> </h1>
    <% anuncios.forEach( anuncio => { %>
    <p> -------------------------------------------------------------------------------</p>
        <h2><%= __('Nombre:') %> <%= anuncio.nombre %></h2>
        <p><% if (anuncio.venta) { %>
            <%= __('En venta') %></p>
    <% } else { %>
    <p> <%= __('En busqueda') %> </p>
    <% } %>
        <p><%= __('Precio:') %> <%= anuncio.precio %>€</p>
        <p><%= __('Foto:') %></p>
    <img src="http://localhost:3000/images/anuncios/<%=anuncio.foto%>" height="20%" width="20%">
    <p><%= __('Categorias:') %> <%= anuncio.tags %></p>
  <% }) %>
    <p> -------------------------------------------------------------------------------</p>
  </body>
</html>
